.container {
    width: min(100%, 1440px);
    margin: auto;
}

/*header*/
header {
    width: 100%;
    padding: 52px 98px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    height: 46px;
}

header nav {
    height: 28px;
    width: 393px;
}

ul {

    display: flex;
    justify-content: space-between;
}

.active {
    color: #27187f;
    font-size: 24px;
    font-weight: 500;
}

.no_active {
    color: #758bfd;
    font-size: 24px;
    font-weight: 500;
}

header div {
    border: 3px solid #758bfd;
    border-radius: 10px;
    padding: 12px 8px 12px 182px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

header div i {
    font-size: 32px;
    color: #758bfd;
}